# Trash
.DS_Store
Thumbs.db
tmp
*.log
# vscode-sops
.decrypted~*.yaml
*.agekey
*.pub
*.key
github-deploy-key*
# Output
megalinter-reports
# python
.venv
# private
.decrypted~*.yaml
*.agekey
*.pem
*.pub
*.key
.env
