# trash
.DS_Store
Thumbs.db
tmp
*.log
# vscode-sops
.decrypted~*.yaml
*.agekey
*.pub
*.key
github-deploy-key*
# output
.task
megalinter-reports
# python
.venv
# private
.decrypted~*.yaml
*.agekey
*.pem
*.pub
*.key
.env
htpasswd
mise.local.toml
Taskfile.yaml
Taskfile.yml
