#!/bin/sh

# Aliases in this file are bash, zsh and fish compatible

# Helpers
# i.e. output | copy
alias xcopy="xclip -rmlastnl -selection clipboard"
alias xpaste="xclip -rmlastnl -selection clipboard -o"
# https://github.com/andreafrancia/trash-cli
alias rm="echo \"No way, man!\""
alias rrm="command rm"
alias dotsync="/bin/bash $MY_DOTFILES/install"

# fzy (see .functions for more)
alias ff="find . -type f | fzy"
alias fh="history | fzy"

# https://wiki.archlinux.org/index.php/Sudo#Passing_aliases
alias sudo="sudo "

# Directories
alias dev='cd ~/dev'
alias dotfiles='cd ~/dotfiles'
alias me='cd ~/dev/me'
alias sandbox='cd ~/dev/sandbox'


# Moving around
alias home='cd ~'
alias ..='cd ../'
alias ...='cd ../../'
alias ....='cd ../../../'
alias cdb='cd -'
alias cls='clear;ls'
alias :q='exit'


# ls
alias ls='ls --color=auto'
alias ll='ls -lhF'
alias lla='ls -lhAF'
alias la='ls -AF'
alias lsa='la'

# List only directories
alias lld="lla $colorflag | grep --color=never '^d'"

alias lsg='lla | grep'


# PS
alias psa="ps aux"
alias psg="ps aux | grep -v grep | grep"


# Show human friendly numbers and colors
alias df='df -h'
alias du='du -h -d 2'

alias grep='grep --color=auto'

# Common shell functions
alias less='less -r'
alias tf='tail -f'
alias l='less'
alias lh='ls -alt | head' # see the last modified files
alias screen='TERM=screen screen'
alias ssh='TERM=xterm-256color; ssh'


# Vim
alias vi='vim'

# vimrc editing
alias ve='vim ~/.vimrc'
# zsh profile editing
alias ze='vim ~/.zshrc'
# fish profile editing
alias fe='vim ~/.config/fish/config.fish'


# Git Aliases
alias g='git'
alias gb='git branch'
alias gs='git status'
alias gst='git stash'
alias gsp='git stash pop'
alias gsa='git stash apply'
alias gsh='git show'
alias gi='vim .gitignore'
alias ga='git add'
alias gaa='git add -A'
alias gcm='git commit -m'
alias gacm='git add -A; git commit -m'
alias grv='git remote -v'
alias grr='git remote rm'
alias gra='git remote add'
alias gr='git rebase'
alias glog='git l'
alias gf='git fetch'
alias gd='git diff'
alias gp='git push'
alias gu='git pull'
alias guom='git pull origin master'
alias gpom='git push origin master'
alias gwch='git whatchanged -p --abbrev-commit --pretty=medium'


# Zippin
alias gz='tar -zcvf'


#If you want your thin to listen on a port for local VM development
#export VM_IP=10.0.0.1 <-- your vm ip
#alias ts='thin start -a ${VM_IP:-127.0.0.1}'
alias ms='mongrel_rails start'
alias tfdl='tail -f log/development.log'
alias tftl='tail -f log/test.log'

alias ka9='killall -9'
alias k9='kill -9'
