# {{ ansible_managed }}

- defaults:
    link:
      create: true
      relink: true

- clean: "{{ dotbot['clean'] }}"
- create: "{{ dotbot['create'] }}"

- link:
{% if 'x11' in dotfiles_groups %}
    # X11
    ~/.xbindkeysrc:
      path: x11/.xbindkeysrc
    ~/.xbindkeysrc-mouse:
      path: x11/.xbindkeysrc-mouse
      if: 'xinput | grep -q "Logitech MX Master"'
    ~/.xinitrc:
      path: x11/.xinitrc
    ~/.Xmodmap:
      path: x11/.Xmodmap
    ~/.xprofile:
      path: x11/.xprofile
    ~/.Xresources:
      path: x11/.Xresources
    ~/.config/:
      glob: true
      path: x11/.config/*
    ~/.functions/:
      glob: true
      path: x11/.functions/*
    ~/.bin/:
      glob: true
      path: x11/.bin/*
{% endif %}
{% if 'desktop' in dotfiles_groups %}
    # Desktop
    ~/.screenlayout:
      path: desktop/.screenlayout
      force: true
    ~/.xprofile.local:
      path: desktop/.xprofile.local
{% endif %}
{% if 'laptop' in dotfiles_groups %}
    # Laptop
    ~/.config/:
      path: laptop/.config/*
      glob: true
    ~/.functions/:
      path: laptop/.functions/*
      glob: true
    ~/.bin/:
      path: laptop/.bin/*
      glob: true
    ~/.screenlayout:
      path: laptop/.screenlayout
      force: true
    ~/.xprofile.local:
      path: laptop/.xprofile.local
{% endif %}
{% if 'vm' in dotfiles_groups %}
    # VM guest
    ~/.bin/:
      path: vm/.bin/*
      glob: true
    ~/.screenlayout:
      path: vm/.screenlayout
      force: true
    ~/.xprofile.local:
      path: desktop/.xprofile.local
{% endif %}
{% if 'archlinux' in dotfiles_groups %}
    # Laptop
    ~/.functions/:
      path: archlinux/.functions/*
      glob: true
{% endif %}

- shell: "{{ dotbot['shell'] }}"
