---
linux:
  vars:
    atuin__sync_address: https://sh.internal.brett.cloud
  hosts:
    case:
      ansible_host: 10.1.1.14
      dotfiles__install_cmd: DOTFILE_GROUPS=base,archlinux,dev,x11,xfce ./install
      user__shell: /usr/bin/zsh
      packages: >-
        {{
          pkgs.base +
          pkgs.laptop +
          pkgs.xfce +
          pkgs.dev +
          pkgs.x11
        }}
      aur_packages: >-
        {{
          pkgs.base_aur +
          pkgs.laptop_aur +
          pkgs.xfce_aur +
          pkgs.dev_aur +
          pkgs.x11_aur
        }}
    harambe:
      ansible_host: 10.1.2.3
      proxmox__pci_passthrough: true
    baja:
      ansible_host: 10.1.2.4
      proxmox__pci_passthrough: true
      proxmox__intel_gvt: true
      proxmox__acpi_lax: true
    gresham:
      ansible_host: 10.1.0.2
    sienna:
      ansible_host: 10.1.0.5
    # farm:
    #   ansible_host: 10.1.2.8
    #   ilo__ip: 10.1.2.7
    bogota:
      ansible_host: 10.1.2.10
      cockpit: true
      snapraid: true
      proxmox__acpi_lax: true
      nfs__required_services:
        - srv-nfs-media.mount
      nfs__exports:
        - /srv/nfs  *(rw,fsid=fe48ca08-42a5-41a4-aa3d-7bd5d07aa893,no_subtree_check,no_root_squash)
        - /srv/nfs/media  *(rw,fsid=8dbb5fac-6beb-46e9-8ded-f3538555dd83,no_subtree_check,no_root_squash)
      mergerfs__mounts:
        "/dev/disk/by-id/ata-HGST_HUH728060ALE600_2QG15S0R-part1": /mnt/parity1
        "/dev/disk/by-id/ata-ST10000NE0008-2JM101_ZPW0MSQL-part1": /mnt/parity2
        "/dev/disk/by-id/ata-WDC_WD101EFBX-68B0AN0_VHG5TJRM-part1": /mnt/parity3
        "/dev/disk/by-id/ata-TOSHIBA_HDWT360_98R0A036FB1G-part1": /mnt/disk1
        "/dev/disk/by-id/ata-HGST_HDN724030ALE640_PK2234P9K44G5Y-part1": /mnt/disk2
        "/dev/disk/by-id/ata-HGST_HDN724030ALE640_PK2234P9K4M70Y-part1": /mnt/disk3
        "/dev/disk/by-id/ata-HGST_HDN724030ALE640_PK2234P9K4M5SY-part1": /mnt/disk4
        "/dev/disk/by-id/ata-HGST_HDN726060ALE610_NAGWMN6Y-part1": /mnt/disk6
        "/dev/disk/by-id/scsi-35000c5009550f7d7-part1": /mnt/disk7
        "/dev/disk/by-id/ata-WDC_WD101EFBX-68B0AN0_VHG887NM-part1": /mnt/disk8
      packages: >-
        {{ pkgs.base | join(' ') }}
        cockpit-storaged
        qemu-guest-agent
    gertrude:
      ansible_host: 10.1.2.11

windows:
  hosts:
    # https://docs.ansible.com/ansible/latest/os_guide/windows_setup.html
    zorak:
      ansible_host: 10.1.1.5
      packages: >-
        {{
          pkgs.base +
          pkgs.mic +
          pkgs.gaming
        }}
    gameboy:
      ansible_host: 10.1.1.26
      packages: >-
        {{
          pkgs.base +
          pkgs.gaming
        }}
    sega:
      ansible_host: 10.1.1.13
      packages: >-
        {{
          pkgs.base +
          pkgs.gaming +
          pkgs.tv
        }}

workstations:
  hosts:
    zorak:
    gameboy:
    sega:
    case:

servers:
  hosts:
    harambe:
    baja:
    bogota:
    gertrude:
    farm:
    gresham:
    sienna:

proxmox:
  hosts:
    harambe:
    baja:
    farm:
    gresham:

vms:
  hosts:
    bogota:

archlinux:
  hosts:
    bogota:

supermicro:
  hosts:
    harambe:
