---
# yaml-language-server: $schema=https://raw.githubusercontent.com/docker/cli/master/cli/compose/schema/data/config_schema_v3.13.json
x-options: &options
  profiles: &profiles [utils]
  networks: [default]
  environment: &environment
    TZ: "${TIMEZONE}"
  deploy: &deploy
    restart_policy:
      condition: unless-stopped

services:
  homepage:
    <<: *options
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    environment:
      <<: *environment
      PUID: "${PUID}"
      PGID: "${PGID}"
      HOMEPAGE_VAR_LATITUDE: "${HOMEPAGE_VAR_LATITUDE}"
      HOMEPAGE_VAR_LONGITUDE: "${HOMEPAGE_VAR_LONGITUDE}"
      HOMEPAGE_VAR_UNIFI: "${HOMEPAGE_VAR_UNIFI}"
      HOMEPAGE_VAR_HASS_TOKEN: "${HOMEPAGE_VAR_HASS_TOKEN}"
      HOMEPAGE_VAR_ADGUARD: "${HOMEPAGE_VAR_ADGUARD}"
      HOMEPAGE_VAR_PRIVATE_DOMAIN: "${PRIVATE_DOMAIN}"
      HOMEPAGE_VAR_SONARR_TOKEN: "${HOMEPAGE_VAR_SONARR_TOKEN}"
      HOMEPAGE_VAR_RADARR_TOKEN: "${HOMEPAGE_VAR_RADARR_TOKEN}"
      HOMEPAGE_VAR_SABNZBD_TOKEN: "${HOMEPAGE_VAR_SABNZBD_TOKEN}"
      HOMEPAGE_VAR_TAUTULLI: "${HOMEPAGE_VAR_TAUTULLI}"
      HOMEPAGE_VAR_HEALTHCHECKS_API_KEY: "${HEALTHCHECKS_API_KEY}"
      HOMEPAGE_ALLOWED_HOSTS: "dashboard.${PRIVATE_DOMAIN}"
    volumes:
      - "${CONFIG_DIR}/homepage:/app/config"
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      traefik.enable: "true"
      traefik.http.routers.homepage.rule: Host(`dashboard.${PRIVATE_DOMAIN}`)
      traefik.http.routers.homepage.entrypoints: websecure
      traefik.http.services.homepage.loadbalancer.server.port: 3000
