# https://restic.readthedocs.io/en/stable/030_preparing_a_new_repo.html#backblaze-b2
---
x-options: &options
  profiles: [backup]
  networks: [default]
  environment: &environment
    TZ: "${TIMEZONE}"
  deploy:
    restart_policy:
      condition: unless-stopped

x-remote-environment: &remote-environment
  <<: *environment
  RESTIC_REPOSITORY: "${BACKUP_S3_RESTIC_REPOSITORY}"
  RESTIC_PASSWORD: "${REMOTE_RESTIC_PASSWORD}"
  AWS_ACCESS_KEY_ID: "${BACKUP_AWS_ACCESS_KEY_ID}"
  AWS_SECRET_ACCESS_KEY: "${BACKUP_AWS_SECRET_ACCESS_KEY}"

services:
  restic-remote-backup:
    <<: *options
    image: mazzolino/restic:latest
    container_name: restic-remote-backup
    cap_add: [SYS_ADMIN]
    environment:
      <<: *remote-environment
      BACKUP_CRON: "0 0 1 * * *"
      RESTIC_BACKUP_SOURCES: /data
      RESTIC_BACKUP_ARGS: >-
        --tag restic
        --exclude='.Trash*'
        --verbose
      RESTIC_FORGET_ARGS: >-
        --keep-last 10
        --keep-daily 7
        --keep-weekly 5
        --keep-monthly 12
      PRE_COMMANDS: |-
        curl -fsS -m 10 --retry 5 -o /dev/null "https://hc.kaile.dev/ping/${HEALTHCHECKS_RESTIC_REMOTE_BACKUP_UUID}/start"
      POST_COMMANDS_FAILURE: |-
        curl -fsS -m 10 --retry 5 -o /dev/null "https://hc.kaile.dev/ping/${HEALTHCHECKS_RESTIC_REMOTE_BACKUP_UUID}/fail"
      POST_COMMANDS_SUCCESS: |-
        curl -fsS -m 10 --retry 5 -o /dev/null "https://hc.kaile.dev/ping/${HEALTHCHECKS_RESTIC_REMOTE_BACKUP_UUID}"
    volumes:
      - "${CONFIG_DIR}/adguard:/data/adguard"
      - "${CONFIG_DIR}/healthchecks:/data/healthchecks"
      - "${CONFIG_DIR}/homepage:/data/homepage"
      - "${CONFIG_DIR}/smokeping:/data/smokeping"
      - "${CONFIG_DIR}/traefik/conf:/data/traefik-conf"

  restic-remote-prune:
    <<: *options
    image: mazzolino/restic:latest
    container_name: restic-remote-prune
    depends_on: [restic-remote-backup]
    environment:
      <<: *remote-environment
      PRUNE_CRON: "0 0 3 * * *"
      PRE_COMMANDS: |-
        curl -fsS -m 10 --retry 5 -o /dev/null "https://hc.kaile.dev/ping/${HEALTHCHECKS_RESTIC_REMOTE_PRUNE_UUID}/start"
      POST_COMMANDS_FAILURE: |-
        curl -fsS -m 10 --retry 5 -o /dev/null "https://hc.kaile.dev/ping/${HEALTHCHECKS_RESTIC_REMOTE_PRUNE_UUID}/fail"
      POST_COMMANDS_SUCCESS: |-
        curl -fsS -m 10 --retry 5 -o /dev/null "https://hc.kaile.dev/ping/${HEALTHCHECKS_RESTIC_REMOTE_PRUNE_UUID}"

  restic-remote-check:
    <<: *options
    image: mazzolino/restic:latest
    container_name: restic-remote-check
    depends_on: [restic-remote-backup]
    environment:
      <<: *remote-environment
      CHECK_CRON: "0 0 5 * * *"
      RESTIC_CHECK_ARGS: >-
        --read-data-subset=10%
      PRE_COMMANDS: |-
        curl -fsS -m 10 --retry 5 -o /dev/null "https://hc.kaile.dev/ping/${HEALTHCHECKS_RESTIC_REMOTE_CHECK_UUID}/start"
      POST_COMMANDS_FAILURE: |-
        curl -fsS -m 10 --retry 5 -o /dev/null "https://hc.kaile.dev/ping/${HEALTHCHECKS_RESTIC_REMOTE_CHECK_UUID}/fail"
      POST_COMMANDS_SUCCESS: |-
        curl -fsS -m 10 --retry 5 -o /dev/null "https://hc.kaile.dev/ping/${HEALTHCHECKS_RESTIC_REMOTE_CHECK_UUID}"
