#!/bin/sh

# non-standard, used by https://build.i3wm.org/docs/i3-sensible-terminal.html
export TERMINAL=alacritty

# Personal desktop environment scripts,
# more useful here than .profile because .xprofile is loaded before i3 in .xinitrc
PERSONAL_BIN=${MY_BIN:-$MY_DOTFILES/bin}
if [ -d "$PERSONAL_BIN" ]; then
    export PATH=$PATH:$PERSONAL_BIN
fi
