# Source: https://aur.archlinux.org/packages/zoom-firejail/
[Desktop Entry]
Type=Application
Name=Zoom (Firejail)
Name[en_US]=Zoom (Firejail)
Comment=Zoom Video Conference
Exec=/usr/bin/zoom-firejail %U
Icon=Zoom
Terminal=false
Categories=Network;Application;
Encoding=UTF-8
StartupWMClass=zoom
MimeType=x-scheme-handler/zoommtg;x-scheme-handler/zoomus;x-scheme-handler/tel;x-scheme-handler/callto;x-scheme-handler/zoomphonecall;
X-KDE-Protocols=zoommtg;zoomus;tel;callto;zoomphonecall;
